<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
    <link rel="stylesheet" href="abb.css">
</head>
<body>
    <div class="e1">
        <div>
            <h1>About Us..</h1>
            <div class="img">

            </div>
            <p>
                We are observing a recent trend of increase in heart attack fatalities with every passing generation. With
                 the consultations of medical experts, we have figured out, that with the increasing workload, stress, and unhealthy 
                lifestyle, ther's an increase in the upwardness of the curve of heart attack victims. Due to the 
                lack of awareness of the general masses, this trend is not going to reduce in the coming
                 future. We, as a group of four, did a brainstorming session to figure out what we can do, and 
                 have tried our best to come to the solution.<br><br>
                 <strong><u>Cotributions</u>:</strong><br>
                 Aniruddha Jana (ML MODAL)<br>
                 Sai Prashanth Akuthota (BACK END & FRONT END)<br>
                 Bhonsle siva Sathvik (FRONT END)<br>
                 Debjit Sarkar (DOCUMENTATION)
                 
            </p>
            
        </div>

    </div>
    
</body>
</html>