<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
    <link rel="stylesheet" href="dis.css">
</head>
<body>
    <div class="e1">
        <div>
            <h1>DESCRIPTION..</h1>
            <div class="img">

            </div>
            <p>
                <strong><u>RESTING BLOOD PRESSURE</u>:</strong>
                Normal: Blood pressure below 120/80 mm Hg is considered to be normal. Elevated: When blood pressure
                readings consistently range from 120 to 129 systolic and less than 80 mm Hg diastolic, it is known 
                as elevated blood pressure.<br>
                <strong><u>SERUM CHOLESTORAL IN MG/DL</u>:</strong>
                A person's serum cholesterol level represents the amount of total cholesterol in their blood.<br>
                <strong><u>FASTING BLOOD SUGAR</u>:</strong>
                A test to determine how much glucose (sugar) is in a blood sample after an overnight fast.<br>
               <strong><u>RESTING ELECTROCARDIAG VALUES</u>:</strong> 
                records the electrical activity of your heart at rest. It provides information about your heart rate
                 and rhythm.<br>
                 <strong><u>ANGINA</u></strong> 
                 a condition marked by severe pain in the chest, often also spreading to the shoulders, arms, and neck, owing 
                 to an inadequate blood supply to the heart.<br>
                 <strong><u>FLOUROSOPY</u></strong> 
                 Fluoroscopy is a type of medical imaging that shows a continuous X-ray image on a monitor, much like an X-ray movie.

                 
                 
            </p>
            
        </div>

    </div>
    
</body>
</html>